.btn {
    border: 0 none;
    padding: 0.5em 1em;
    background: lightpink;
    border-radius: 3px;
}

.app {
    width: 700px;
    margin: 0 auto;
    /*background: #ccc;*/
}

.app h1 {
    font-size: 1.8em;
    line-height: 2.0;
    border-bottom: 1px solid #eee;
}

.app .container {
    display: flex;
}

.app .container nav {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    border: 1px solid #eee;
    border-radius: 5px;
    height: 6em;
    overflow: hidden;
}

a:hover,
a:active,
a:link,
a:visited {
    color: #333;
    text-decoration: none;
}

.app .container nav a.active {
    background: lightpink !important;
}

.app .container nav a.myActiveClassName {
    background: lightpink !important;
}

.app .container nav .btn {
    background: transparent;
    padding: 1em 2em;
    border-radius: 0;
    height: 1em;
    overflow: hidden;
}

.app .container nav a.btn:last-child {
    border-top: 1px solid #eee;
}

.app .container .pages {
    border-bottom: 1px solid #eee;
}